#footer, h1 {text-align: center}
#footer {font-size: 90%; margin-top: 3em}
table {border-collapse: collapse; margin: auto}
td, th {padding: .2em 1em; border: 1px solid #ccc; text-align: left}
td + td, th + th {text-align: right}
td + td[colspan], th + th[colspan] {text-align: center}
th {background-color: #333; color: #fff}
th a {color: white}
tbody tr:nth-child(even) td {background-color: #f8f8ff}
#state-chooser ul {column-width: 12em} 
#state-chooser li {list-style: none;}
a {text-decoration: none}
a:hover {text-decoration: underline}
details, summary {margin-bottom: .5em}
summary {font-size: 125%}